.card {
   display: flex;
   flex-direction: column;
   justify-content: center;
   align-items: center;
   margin-top: 150px;
}

.card-body {
    padding: 30px;
    border-left: 2px solid blue;
    border-right: 2px solid blue;
    border-bottom-left-radius: 20px;
    border-top-right-radius: 20px;
    box-shadow: -10px -10px blue;
}

ul {
    text-align: center;
    list-style: none;;
}

li {
    font-style: italic;
    font-weight: bold;
    font-size: 20px;
}

.card-body {
    transition: all .4s ease-in-out;
}

.card-body:hover {
    transform: scale(1.20);
    color: blue;
    background-color: whitesmoke;
    
}

@media (max-width: 426px) {
    h1{
        font-size: 20px;
    }

    li {
        font-size: 14px;
    }
}